:root {
    --c-red: #c40000;
    --c-main: #333;
    --c-green: #0F7EAE;
    --c-text: #000;
    --c-gray: #848484;
    --c-gray-2: #93B4C7;
    --c-white: #fff;
    --c-blue: #4A7EBB;
    --c-blue-2: #ECF5FF;

    --c-orange: #FE905A;
    --c-yellow: #E7B504;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
    color: var(--c-main);
    background-color: var(--c-white);
    font-family: "Noto Sans JP", sans-serif;
}

.wrapper {
    max-width: 1200px;
    background-color: var(--c-white);
    margin: 0 auto;
}

.container-c {
    max-width: 1000px;
    margin: 0 auto;

    @media (max-width: 1000.98px) {
        padding: 0 22px;
    }
}

.title-base {
    font-weight: 700;
    font-size: 28px;
}

p {
    margin-bottom: 0;
}

.white-space {
    white-space: pre-line;
}

.ele-container-c {
    padding: 0;

    .ele-title {
        .elementor-heading-title {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}

.td-none {
    color: var(--c-main);
    text-decoration: none;
}

.base-btn {
    border-radius: 300px;
    border: 1px solid var(--c-blue);
    background: var(--c-white);
    color: var(--c-blue);
    font-size: 14px;
    font-weight: 400;
    width: 236px;
    height: 54px;
    text-decoration: none;
    @include center_flex;
    justify-content: space-between;
    padding-left: 29px;
    padding-right: 22px;
    @media screen and (max-width: 768px) {
        width: 100%;
        height: 70px;
        padding-left: 37px;
        font-size: 16px;
    }
}

.title-group {
    position: relative;
    .title {
        font-size: 79px;
        color: var(--c-blue);
        font-weight: 700;
        margin-bottom: 0;
    }
    .desc {
        padding-left: 34px;
        margin-top: -2px;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 0;
    }

    @media screen and (max-width: 768px) {
        .title {
            font-size: 50px;
        }
        .desc {
            padding-left: 0;
            margin-top: 0;
        }
    }
}
